@font-face {
    font-family: "Figtree-Light";
    src: url("../assets/fonts/static/Figtree-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-LightItalic";
    src: url("../assets/fonts/static/Figtree-LightItalic.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-Regular";
    src: url("../assets/fonts/static/Figtree-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-Italic";
    src: url("../assets/fonts/static/Figtree-Italic.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-Medium";
    src: url("../assets/fonts/static/Figtree-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-MediumItalic";
    src: url("../assets/fonts/static/Figtree-MediumItalic.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-SemiBold";
    src: url("../assets/fonts/static/Figtree-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-SemiBoldItalic";
    src: url("../assets/fonts/static/Figtree-SemiBoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-Bold";
    src: url("../assets/fonts/static/Figtree-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-BoldItalic";
    src: url("../assets/fonts/static/Figtree-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-ExtraBold";
    src: url("../assets/fonts/static/Figtree-ExtraBold.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-ExtraBoldItalic";
    src: url("../assets/fonts/static/Figtree-ExtraBoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-Black";
    src: url("../assets/fonts/static/Figtree-Black.ttf") format('truetype');
}

@font-face {
    font-family: "Figtree-BlackItalic";
    src: url("../assets/fonts/static/Figtree-BlackItalic.ttf") format('truetype');
}
